---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import CommentIcon from "../components/icons/Comment_dots.astro";
import AddressBookIcon from "../components/icons/Address_book.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/About_me.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Porfolio de Adriana - Desarrollador y Programador Web con 1,5 años de experiencia"
  description=""
>
  <main class="px-4">
    <SectionContainer class="py-32 pb-24 z-40 flex flex-wrap items-center">
      <img
        class="rounded-full size-1/12 m-4 flex"
        src="/adriana.jpg"
        alt="adriana photo"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-6"
      >
        Hola!, soy Adriana <a
          href="https://www.linkedin.com/in/adriana-franklin-sanchez-5245a01a6"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>1,5 años de experiencia.</span><span
          class="text-yellow-800 dark:text-yellow-200"
        >
          Desarrolladora Junior</span
        >.
        <span class="text-sky-800 dark:text-sky-200"
          >Con orientacion al Front-end Development.</span
        >
        <span class="text-red-800 dark:text-red-200"> De Neiva, Colombia</span>.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/adriana-franklin-sanchez-5245a01a6"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/Adriana031991">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>

        <SocialPill href="mailto:adrianafs1991@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          adrianafs1991@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre_mi">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <AddressBookIcon class="size-7" />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="contacto">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CommentIcon class="size-7" />
        Contáctame
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
